 *{
            margin: 0%;
            padding: 0%;
        }
        .Home{
            background-color: rgb(245, 216, 161);
            width: 100%;
            height: auto;
        }
        .header{
            width: 95%;
            height: 70px;
            background-color: oldlace;
            margin: auto;
        }
        .logo{
            width: 80px;
            height: 50%;
            float: left;
            padding: 5px;
            background-color: brown; 
            margin: 12px;
            border-radius: 50%;
        }
        .searchbox{
            width: 700px;
            background-color: aliceblue;
            height: 50px;
            float: left;
            margin: 10px;
            padding:  0 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .search-bar {
            width: 100%;
            border: none;
        }

        .search{
            font-size: 20px;
        }
        
        .content{
            width: 95%;
            height: 25px;
            background-color: antiquewhite;
            margin: auto;
            color: black;
        }
        ul{
            list-style: none;
            text-align: center;
            color: brown;
            
        }
        li{
            display: inline;
            padding: 30px;
            font-size: 22px;    
        }
        input {
            padding: 15px 20px;
        }
        a {
            text-decoration: none;
            color: black;
        }
        .contaner1{
            width: 95%;
            margin: auto;
            height: 100px;
            background-color: beige;
        }
        .contaner2{
            width: 50%;
            margin: auto;
            text-align: center;
            padding: 35px;
        }
        .COLOR{
            color: orangered;
        }
        .contaner3{
            width: 95%;
            margin: auto;
            height: 450px;
        }